.watermark {
  position: relative;
  z-index: 1;
}

/* FONDO OSCURO GRADIENTE + LOGO */
.watermark::before {
  content: "";
  position: fixed;
  inset: 0;

  /* Fondo degradado oscuro */
  background:
    linear-gradient(to bottom right, rgba(0,0,0,0.9), rgba(0,0,0,0.85)),
    url("./assets/logo-vitaluxfit.jpeg") center center / 95% no-repeat;

  opacity: 0.9;          /* Intensidad general */
  pointer-events: none;
  z-index: -1;
}
