body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;

 background-image:
  linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.75)),
  url('/vitalux-bg.jpg');    
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}
.app {
  min-height: 100vh;
  position: relative;
}
