.watermark {
  position: relative;
  z-index: 0;
}

.watermark::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("./assets/logo-vitaluxfit.jpeg") center center / 65% no-repeat fixed;
  opacity: 0.05;
  filter: blur(2px);
  pointer-events: none;
  z-index: -1;
}
